---
import Layout from "../layouts/Layout.astro";
import StackItem from "../components/StackItem.astro";
import Category from "../components/Category.astro";
import CategoryItem from "../components/CategoryItem.astro";
import { technologies, education } from "../constants/index";
---

<Layout title="About">
    <section
        id="about"
        class="bg-bgLight flex items-center justify-center dark:bg-bgDarkSecondary bg-purple-950 min-h-screen"
    >
        <div class="flex flex-col gap-12 max-w-7xl w-5/6 pt-28 pb-20">
            <div class="flex flex-col gap-3">
                <h1 class="title">
                    About<span class="text-purple-600">.</span>
                </h1>
                <p class="text-xl text-bal">
                    Hello! I'm Cesar Dominguez, a Frontend developer from
                    Mexico. I'm a software engineer with a passion for creating
                    beautiful and functional web interfaces. My strongest skills
                    are HTML, CSS, and JavaScript, and I'm always learning new
                    technologies and tools. I'm also experienced with React and
                    other frameworks.
                </p>
            </div>
            <div class="flex flex-col gap-5">
                <h2 class="text-left text-3xl font-medium dark:text-white">
                    Tech Stack:
                </h2>
                <div
                    class="flex flex-wrap gap-5 justify-center lg:justify-start lg:gap-12"
                >
                    {
                        technologies.map((tech: any) => (
                            <StackItem imgUrl={tech.icon} name={tech.name} />
                        ))
                    }
                </div>
            </div>
            <Category title="Education">
                {
                    education.map((item) => (
                        <CategoryItem
                            title={item.title}
                            place={item.institution}
                            city={item.city}
                            country={item.country}
                            initialDate={item.initialYear}
                            finalDate={item.finishYear}
                        />
                    ))
                }
            </Category>
            <Category title="Experience">
                <CategoryItem
                    title="Intern Web Developer"
                    initialDate={"Aug 2022"}
                    finalDate={"Dec 2022"}
                    place="Centro Medico de Alta Especialidad"
                    city="Moroleon"
                    country="Mexico"
                    tags={[
                        "HTML",
                        "CSS",
                        "JavaScript",
                        "ReactJS",
                        ".NET",
                        "MySQL",
                        "Bootstrap",
                    ]}
                />
                <CategoryItem
                    title="Web Developer"
                    initialDate={"Jan 2023"}
                    finalDate={"Current"}
                    place="Centro Medico de Alta Especialidad"
                    city="Moroleon"
                    country="Mexico"
                    tags={[
                        "HTML",
                        "CSS",
                        "JavaScript",
                        "ReactJS",
                        ".NET",
                        "MySQL",
                        "Bootstrap",
                    ]}
                />
            </Category>
            <Category title="Certifications">
                <CategoryItem
                    title="SCRUM Fundamentals"
                    finalDate={"Sep 2021"}
                    place="SCRUMstudy"
                    link="https://c46e136a583f7e334124-ac22991740ab4ff17e21daf2ed577041.ssl.cf1.rackcdn.com/Certificate/ScrumFundamentalsCertified-CesarDominguez-873374.pdf"
                    description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia eveniet voluptatibus eius nemo, facere omnis aliquam, rerum culpa veritatis soluta, libero voluptas laboriosam. Laboriosam dolorem explicabo quae iste, velit aperiam."
                />
            </Category>
            <Category title="Research and publications">
                <CategoryItem
                    title="Recognition of errors in clothes using AI"
                    finalDate={2022}
                    place="FEGLININ"
                    link="https://federacionglobal.com/FEGLININ/No23/dic2022/vol-3.3/access.html"
                    description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia eveniet voluptatibus eius nemo, facere omnis aliquam, rerum culpa veritatis soluta, libero voluptas laboriosam. Laboriosam dolorem explicabo quae iste, velit aperiam."
                />
            </Category>

            <div class="flex flex-col gap-3">
                <h3 class="text-left text-2xl font-medium dark:text-white">
                    Skills
                </h3>
                <ul
                    class="marker:text-purple-700 list-disc md:columns-5 columns-2 mx-6 text-lg gap-5 lg:gap-4"
                >
                    <li>Spanish (Native)</li>
                    <li>English (B2)</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>C#</li>
                    <li>Java</li>
                    <li>C++</li>
                    <li>PHP</li>
                    <li>Postgres SQL</li>
                    <li>MySQL</li>
                    <li>Node.js</li>
                    <li>Ionic</li>
                    <li>Astro</li>
                    <li>Bootstrap</li>
                    <li>Tailwind</li>
                    <li>Git</li>
                    <li>Jira</li>
                    <li>Scrum</li>
                    <li>UI/UX Design</li>
                    <li>Web Design</li>
                    <li>Logo Design</li>
                    <li>Image Manipulation</li>
                    <li>Office Suite</li>
                    <li>Adobe Photoshop</li>
                </ul>
            </div>
        </div>
    </section>
</Layout>
